<%- include('_header') %>
<% const open = new Date(data.timeOpen) %>
<% const close = new Date(data.timeClose) %>

<body>
    <%- include('_navbar') %>
    <div class="container profile profile-view" id="profile">
        <form action="/editTempatParkir/update/<%=data.tempatParkir%>" method="post" enctype="multipart/form-data">
            <div class="row profile-row">
                <div class="col-md-4 relative">
                    <div class="avatar">
                        <img src="data:image/png;base64,<%=data.image%>" />
                    </div>
                    <input class="form-control form-control" type="file" name="Image">
                </div>

                <div class="col-md-8">
                    <h1><%= data.name %> </h1>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group mb-3">
                                <label class="form-label">name </label>
                                <input class="form-control" type="text" name="name" value="<%=data.name%>">
                                <input type="hidden" name="imagebackup" value="<%=data.image%>">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group mb-3">
                                <label class="form-label">alamat </label>
                                <input class="form-control" type="text" name="alamat" value="<%=data.alamat%>">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group mb-3">
                                <label class="form-label">priceLow </label>
                                <input class="form-control" type="text" name="priceLow" value="<%=data.priceLow%>" >
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group mb-3">
                                <label class="form-label">priceHigh </label>
                                <input class="form-control" type="text" name="priceHigh" value="<%=data.priceHigh%>">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group mb-3">
                                <label class="form-label">timeOpen </label>
                                <input class="form-control" type="text" name="timeOpen" value="<%=open.getHours()%>">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group mb-3">
                                <label class="form-label">timeClose </label>
                                <input class="form-control" type="text" name="timeClose" value="<%=close.getHours()%>">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 content-right">
                            <button class="btn btn-primary form-btn" type="submit">SAVE </button>
                            <a  class="btn btn-danger form-btn" href="/dashboard">CANCEL</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>